# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here

orders = pd.read_csv('Orders.csv')

# Display the first few rows of the orders dataframe to overview the data
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
# your code here

# Sub Problem 1: Aggregate the amount_spent for each unique customer
customer_total_spent = orders.groupby('CustomerID')['amount_spent'].sum()

customer_total_spent.head()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
Name: amount_spent, dtype: float64

In [6]:
# Sub Problem 2: Identify the 75th and 95th percentiles
quantile_75 = customer_total_spent.quantile(0.75)
quantile_95 = customer_total_spent.quantile(0.95)

preferred_customers = customer_total_spent[(customer_total_spent >= quantile_75) & (customer_total_spent < quantile_95)]
vip_customers = customer_total_spent[customer_total_spent >= quantile_95]

quantile_75, quantile_95, len(preferred_customers), len(vip_customers)

(1661.64, 5840.181999999982, 868, 217)

In [7]:
# Sub Problem 3: Label the customers based on their aggregated amount_spent

def label_customer(customer_id):
    if customer_id in vip_customers.index:
        return "VIP"
    elif customer_id in preferred_customers.index:
        return "Preferred"
    else:
        return "Regular"

# Apply the label function to each customer
orders['CustomerLabel'] = orders['CustomerID'].apply(label_customer)

# Display some of the data to verify the labeling
orders[['CustomerID', 'amount_spent', 'CustomerLabel']].drop_duplicates(subset='CustomerID').head(10)

     CustomerID  amount_spent CustomerLabel
0         17850         15.30     Preferred
9         13047         54.08     Preferred
26        12583         90.00           VIP
46        13748        204.00       Regular
65        15100        350.40       Regular
82        15291        165.60     Preferred
86        14688         19.50     Preferred
105       17809         34.80     Preferred
106       15311         97.75           VIP
141       16098         10.20     Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here